<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/base.css" />
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <title>{% block title %}Eclipse{% endblock %}</title>
</head>

<body>
	<div class="col-sm-4">
	{% block sidebar %}
		<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/logout">Logout</a></li>
		</ul>
	{% endblock %}
	</div>
	<div class="col-sm-8">
		{% block content %}{% endblock %}
	</div>
</body>
</html

