<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/base.css" />
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <title>{% block title %}Eclipse{% endblock %}</title>
</head>

<body>
	{% block sidebar %}
		Sidebar goes here
	{% endblock %}

	<div>
		Content goes here	
		{% block content %}{% endblock %}
	</div>
</body>
</html

