<script type="text/javascript">
	$(document).ready(function() {
		$('#loginForm').ajaxForm({
			success : function (response) {
				var serverCode = "";
				if (response == '401'){
					serverCode = 'Invalid username or password';
				} else if (response == '403') {
					serverCode = 'Account is not valid'; 
				} else {
					window.location.replace('/');
				}
				$('#loginResponse').html(serverCode);
			}
		});
	});
</script>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div id='loginResponse'></div>
<form id='loginForm' action="login/" method="post">
	<p><Label for="username">Username</Label> <input type="text" name="username" value="" size="50" /></p>
	<p><Label for="password">Password</Label> <input type="password" name="password" value="" size="50" /></p>
	{% csrf_token %}
	<input type="submit" value="Login" />
</form>
